body {
    font-family: "Poppins", sans-serif;
    background: white;
    text-align: center;
}
.rel{
    font-weight: normal;
}
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Karma{
    margin: 15px;
    height: fit-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 10px;
    border-style: groove;
    display: flex;
    gap: 50px;
    width: 20rem;
    flex-direction: column;
    border-style: groove;
    border-top-color: hsl(34, 97%, 64%);
}
.team{
    margin: 15px;
    height: fit-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 10px;
    border-style: groove;
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 50px;
    border-style: groove;
    border-top-color: hsl(0, 78%, 62%);
}
.super{
    margin: 15px;
    height: fit-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 10px;
    border-style: groove;
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 50px;
    border-style: groove;
    border-top-color:hsl(180, 62%, 55%);
}
.calc{
    margin: 15px;
    height: fit-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 10px;
    border-style: groove;
    display: flex;
    gap: 50px;
    flex-direction: column;
    width: 20rem;
    border-style: groove;
    border-top-color:hsl(212, 86%, 64%);
}
#imagg{
    text-align: right;
    padding: 0px;
}